
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  color:white; 
  background-color: rgb(40, 40, 40);
  font-family: "Nunito" , sans-serif;
}
.myNavBar{
  font:bold;
  color:white
}